
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body{
            text-align: center;
            background-color: rgb(128, 126, 126);
        }

        h1{
            position: relative;
            display: inline-block;
        }

        h3{
            font-size: 26px;
        }

        .config-div{
            padding: 20px;
        }

        .container-main{
            display: flex;
            flex-direction: column;
            max-width: 700px;
            border: 2px solid rgb(153, 154, 155);
            border-radius: 6px;
            margin: 0 auto;
            padding: 10px;
        }

        .container{
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
        }

        .frase{
            height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;

        }

        .f-btn{
            min-width: 80%;
            height: 30px;
        }

        .frase h3{
            padding: 5px;
            font-size: 16px;
            font-family: 'Courier New', Courier, monospace;
        }

        .frase span{
            font-size: 25px;
            color: blue;
        }

        .verifica-val{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-end;
            background-color: rgb(82, 82, 82);
            border-radius: 8px;
            font-weight: bold;
            color:whitesmoke;
        }

        .txt{
            width: 100%;
        }

        .item{
            display: flex;
            flex-direction: column;
            border-radius: 6px;
            background-color: rgb(59, 59, 59);
            width: 30%;
            height: 20%;
            padding: 5px;
        }

        .inputs input{
            border-radius: 3px;
            border: 2px solid rgb(139, 137, 137);
            padding: 5px;
            margin: 3px;
            background-color:rgb(63, 63, 63);
            outline: none;
            text-align: end;
            color: whitesmoke;
            font-size: 19px;
        }

        .inputs input::placeholder{
            color: whitesmoke;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            font-size: 19px;
        }

        .inputs label{
            text-align: end;
            margin-left: 5px;
        }

        .btn{
            align-items: flex-start;
        }

        .item-radio{
            margin-left: 5px;
            margin-bottom: 5px;
        }

        .item-radio input{
            width: 20px;
            height: 20px;
        }

        .item-btn{
            margin: auto;
        }

        .item-btn button{
            padding: 8px;
            width: 100%;
            color: rgb(65, 64, 64);
            background-color: azure;
            border: 0px solid;
            border-radius: 3px;
            box-shadow: 1px 2px 5px rgba(200, 198, 202, 0.568);
            position: relative;

        }

        .item-btn span{
            position: relative;
            font-size:20px;
            font-family: sans-serif;
            font-weight: bolder;
        }

        .result{
            position: relative;
            text-align:end;
            overflow: hidden;
        }

        .result >span{
            position: relative;
            margin: 5px;
            right: 50%;
        }

        .result >span>span:first-child:first-child{
            border-radius: 5px;
            background-color:rgba(38, 36, 39, 0.603);
            position: absolute;
            margin-left: 5px;
        }

        .config-u{
            position: relative;
            display: inline-block;
        }

        /* style tabuada */

        .tabuada{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .item{
            flex-grow: 1;
            margin: 3px;
        }
        .entradas{
            /* flex-grow: 1; */
            min-height: 13rem;
            align-self: center;
            align-items: center;
            justify-content: space-around;
        }

        .entradas label{
            font-size: 20px;
        }

        .entradas input{
            max-width: 30%;
            
        }

        .entradas button{
            max-width: 30%;
        }

        .numvalido{
            color: green;
        }

        .numerro{
            color: red;
        }

        .resultado{
            /* flex-grow: 1; */
            min-height: 20rem;
            justify-content: space-evenly;
        }

        #divtela{
            flex-grow: 0;
        }

        .result-tabuada{
            font-family: 'Courier New', Courier, monospace;
            font-size: larger;
            text-shadow: 1px 2px 3px rgb(158, 157, 157);
        }

        /* style transition */

        .inputs input:focus{
            border-color: black;
        }

        .item-btn button::before{
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transform: scaleX(0);
            transform-origin: top left;
            transition: transform 0.18s linear;
            position: absolute;
            background-color: rgb(109, 109, 109);

        }

        .item-btn button:hover::before{
            transform-origin: top left;
            transform: scaleX(1);
        }

        .item-btn button:active{
            transform: scale(98%);
            box-shadow: 0.2px 0.2px 0.5px;
            color: aliceblue;
        }

        .item-btn button:hover span{
            color: azure;
        }

        .underline::after{
            content: "";
            position: absolute;
            text-decoration: none;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.25s linear;
            background: rgba(27, 27, 27, 0.76);
        }

        .underline:hover::after{
            transform-origin: bottom left;
            transform: scaleX(1);

        }

        .hover-pointer button ,input, label:hover{
            cursor: pointer;
        }

        @media (max-width: 767px) {
            .verifica-val{
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .item{
                display: flex;
                align-items:center;
                width: 80%;
            }

            .inputs input{
               width: 13rem;
            }

            .item-radio input{
                position: absolute;
                left: 46%;
                transform: translateY(50%);
            }

            .item-radio label{
                left: 50%;
                transform: translateY(50%);
                margin-bottom: 0.7rem;
            }

            .item-btn{
                margin-top: 0.5rem;
            }

            .item-btn button{
                max-width: 150px;
            }

            .result{
                align-items: stretch;
            }


        }