
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
       
        body{
            text-align: center;
        }

        h1{
            position: relative;
            display: inline-block;
        }

        h3{
            font-size: 26px;
        }

        .config-div{
            padding: 20px;
        }

        .container-main{
            display: flex;
            flex-direction: column;
            width: 800px;
            border: 2px solid lightskyblue;
            border-radius: 6px;
            margin: 0 auto;
            padding: 10px;
        }
        
        .container{
            width: 100%;
            padding: 5px;
            border: 1px solid black;
            margin-bottom: 10px;
        }

        .frase{
            height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            
        }

        .f-btn{
            min-width: 80%;
            height: 30px;
        }

        .frase h3{
            padding: 5px;
            font-size: 16px;
            font-family: 'Courier New', Courier, monospace;
        }

        .frase span{
            font-size: 25px;
            color: blue;
        }

        .verifica-val{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-end;
        }

        .txt{
            width: 100%;
        }

        .item{
            display: flex;
            flex-direction: column;
            border-radius: 6px;
            background-color: rgba(117, 24, 211, 0.281);
            width: 30%;
            height: 20%;
            padding: 5px;
        }

        .inputs input{
            border-radius: 3px;
            border: 1px solid rgba(110, 20, 201, 0.568);
            padding: 5px;
            margin: 3px;
            background-color:rgba(121, 40, 202, 0.151);
            outline: none;
        }

        .inputs label{
            text-align: end;
            margin-left: 5px;
        }

        .btn{
            align-items: flex-start;
        }

        .item-radio{
            margin-left: 5px;
            margin-bottom: 5px;
        }

        .item-btn{
            width: 100%;
            align-items: center;
            padding: 1px;
        }

        .item-btn button{
            padding: 8px;
            width: 80%;
            color: rgba(110, 20, 201, 0.568);
            background-color: azure;
            border: 1px solid;
            border-radius: 3px;
            box-shadow: 1px 2px 5px rgba(110, 20, 201, 0.568);
            position: relative;
          
        }

        .item-btn span{
            position: relative;
            font-size:20px;
            font-family: sans-serif;
            font-weight: bolder;
        }

        .result{
            text-align:left;
        }

        .result span{
            margin: 5px;
        }

        .config-u{
            position: relative;
            display: inline-block;
        }

        /* style transition */

        .inputs input:focus{
            outline: 1px solid rebeccapurple;
        }

        .item-btn button::before{
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transform: scaleX(0);
            transform-origin: top left;
            transition: transform 0.18s linear;
            position: absolute;
            background-color: blueviolet;
           
        }
        
        .item-btn button:hover::before{
            transform-origin: top left;
            transform: scaleX(1);
        }

        .item-btn button:active{
            transform: scale(98%);
            box-shadow: 0.2px 0.2px 0.5px;
        }

        .item-btn button:hover span{
            
            color: azure;
        }

        .underline::after{
            content: "";
            position: absolute;
            text-decoration: none;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.25s linear;
            background: black;
        }

        .underline:hover::after{
            transform-origin: bottom left;
            transform: scaleX(1);
            
        }

        .hover-pointer:hover{
            cursor: pointer;
        }